@import '../../Kaios_style.scss';

.seasonPickerContainer {
  background: $white;
}

.btnSeasonList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0;
  border: none;
  color: $basicText;
  background: $white;

  &:focus {
    color: $white;
    background: $primaryColor;
  }

  &:hover {
    cursor: pointer;
    color: $white;
    background: $primaryColor;
  }
}