@import '../../../Kaios_style.scss';

.cardf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.11);
  color: $basicText;
  background: $white;

  .squadra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    img {
      width: 30px;
      height: auto;
      margin-right: 10px;
    }
  }
  &:hover {
    cursor: pointer;
    color: $white;
    background: $primaryColor;
  }
  &:focus {
    cursor: pointer;
    color: $white;
    background: $primaryColor;
  }

  .punti {
    display: flex;
    flex-direction: row;
  }
}