@import '../../Kaios_style.scss';

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30px;
  background: $greyScale;

  .tab {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
    color: #323232;
    text-decoration: none;
    &:focus {
      background: $greyScale;
    }
    &:hover {
      border-bottom: 4px solid $primaryColor;
    }
  }

  .chosen {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 4px solid $primaryColor;
  }
}