@import '../../../Kaios_style.scss';

.giornataDetailMain {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  background: white;

  .resume {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
    margin: 0 0 10px 0;

    .team {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #82C51A;
      font-weight: bold;

      .teamLogo {
        width: 40px;
        height: auto;
      }

      p {
        word-break: break-all;
        max-width: 130px;
      }

      .score {
        color: rgb(187, 187, 187);
        font-size: x-large;
      }
    }
  }

  .status {
    margin: 10px 0 10px 0;
    text-align: center;
    color: rgb(187, 187, 187);

    p {
      margin: 0 0 5px 0;
    }

    .playHour {
      width: 200px;
      margin: auto;
      text-align: "center";
      font-size: 10px;
    }
  }

  .giornataDetailTabs {
    
    button {
      height: 30px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: none;
      background: $white;
      &:focus {
        color: white;
        background: $primaryColor;
      }
      &:hover {
        cursor: pointer;
        color: white;
        background: $primaryColor;
      }
    }

    .activeDetailsTab {
      color: white;
        background: $primaryColor;
    }
  }

  .statistics {
    width: 100%;
    margin: 20px 0 20px 0;
    text-align: center;
  
    .statistic-title {
      
    }
  }

  .statSection {
    text-align: center;
    color: rgb(187, 187, 187);
  }

  .eventsDetails {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.11);
    background: $staticHighlights;
    &:focus {
      color: $white;
      background: $primaryColor;
    }
    &:hover {
      cursor: pointer;
      color: $white;
      background: $primaryColor;
    }

    .mainInfos { 
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      .squadraEventsInfo {
        display: flex;
      }

      img {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }
    }
  }

  .lineups {
    padding: 10px;
    margin-top: 5px;
    background: $staticHighlights;

    .lineupsLogoName{
      display: flex;
      flex-direction: column;
      padding: 0 0 10px 0;

      .lineupMainInfos {
        display: flex;
        align-items: center;

        img {
          width: 25px;
          height: auto;
          margin-right: 10px;
        }
      }
    }

    .lineupSquadra {
      display: flex;

      .playerNumber {
        width: 25px;
      }
    }
  }
}


.stats {
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.11);
    background: $staticHighlights;

  .stat {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    flex: 1;
    .data {
      display: flex;
      justify-content: space-around;
      flex: 1;
      width: 100%;
      text-align: center;
      color: $primaryColor;
    }
  }
}