@import '../../../Kaios_style.scss';

.giornataDetailMain {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  background: white;

  .resume {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
    margin: 0 0 20px 0;

    .team {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #82C51A;
      font-weight: bold;

      .teamLogo {
        width: auto;
        height: 100px;
      }

      p {
        word-break: break-all;
        max-width: 130px;
      }

      .score {
        margin: 10px 0 10px 0;
        color: rgb(187, 187, 187);
        font-size: x-large;
      }
    }
  }

  .status {
    margin: 20px 0 20px 0;
    text-align: center;
    color: rgb(187, 187, 187);

    p {
      margin: 0 0 5px 0;
    }
  }

  .statistics {
    width: 100%;
    margin: 20px 0 20px 0;
    text-align: center;
  
    .statistic-title {
      
    }
  }

  .statSection {
    text-align: center;
    color: rgb(187, 187, 187);
  }
}


.stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0 10px 0;
  text-align: center;

  .stat {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:focus {
      background: $primaryColor;
      color: $white;
    }

    .data {
      display: flex;
      justify-content: space-around;
      flex: 1;
      width: 100%;
      text-align: center;
      color: $primaryColor;
    }
    
  }
}