@import "../../../Kaios_style.scss";

.clubInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: $white;
  background: $basicText;
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.11);

  &:focus {
    font-weight: bold;
    color: $white;
    background: $primaryColor;
  }

  .logo {
    width: 25px;
    height: auto;
    margin: 10px;
  }
}

#squadra {
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-sizing: border-box;

  .statTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;

    .statLogo {
      width: 20px;
      height: auto;
      margin-right: 10px;
    }
  }

  .btnStat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.11);
    background: $white;

    p {
      text-align: left;
    }

    .statTitle {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0 0 0;

      .statLogo {
        width: 20px;
        height: auto;
        margin-right: 10px;
      }
    }

    .container {
      display: flex;
      width: 100%;
      margin-bottom: 10px;

      .stat {
        margin: 0 15px 0 15px;
        text-align: center;
      }
    }
    &:focus {
      color: white;
      background: $primaryColor;
    }
  }
}
