@import '../../../Kaios_style.scss';

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #323232;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.11);
    background: $greyScale;

    .squad {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 5px 0 5px 0;
      border-radius: 10px;

      .logo {
        height: 20px;
        margin-right: 10px;
        padding: 5px 0 5 0;
      }

      .clubname {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-right: 10px;
      }
      
      .score {
        font-weight: bold;
        margin-right: 10px;
      }
    }
    &:focus {
      color: $greyScale;
      background: $primaryColor;
    }
    &:hover {
      cursor: pointer;
      color: $greyScale;
      background: $primaryColor;
    }
} 