.softkey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  background: #CCCCCC;

  .left {
    margin: 0 10px 0 10px;
  }

  .enter {
    margin: 0 10px 0 10px;
  }

  .right {
    margin: 0 10px 0 10px;
  }
}