@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import './Kaios_style.scss';

html, body {
  margin:0;
  padding:0;
  height: 100%;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scroll-behavior: smooth;
}

#root {
  min-height: 100%;
  margin-bottom: 30px;
  //background: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}