@import '../../../Kaios_style.scss';

.seasonPickerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .info {
    margin: 10px;
    font-size: 13px;
    text-align: center;
    color: #979797;
    border-radius: 10px;
  }
}

.btnSeasonList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0;
  border: none;
  color: $basicText;
  background: $white;
  font-size: 17px;
  font-weight: 400;

  &:focus {
    color: $white;
    background: $primaryColor;
  }

  &:hover {
    cursor: pointer;
    color: $white;
    background: $primaryColor;
  }
}